.mainTitle {
    font-size: 100px;
    text-align: center;
  }
  
  .container {
    flex : 1
}
  
  .selectTitle {
    margin: 20px 0px;
    text-align: center;
  }
  
  .items {
    display: flex;
    gap: 50px;
  }
  
  .item {
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 500px;
    height: 400px;
    position: relative;
    background-size: cover !important;
  }
  
  .item:nth-child(1) {
    background: url("/1.jpg");
  }
  .item:nth-child(2) {
    background: url("/6.jpg");
  }
  .item:nth-child(3) {
    background: url("/7.jpg");
  }
  
  .title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  
  .item:hover .title {
    color: #53c28b;
  }